# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local
**/.env

# package-lock.json
package-lock.json
**/package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# AWS
*.pem
.aws/

# Kubernetes
kubeconfig

# Infra secrets
infra/.env
infra/.env.bak
infra/*.env.bak