# ============================================================
# CONFIGURACIÓN GENERAL
# ============================================================
AWS_REGION=us-east-x
EXPEDIENTE=7xxxxx
PROJECT_NAME=examen2

# ============================================================
# RDS POSTGRES
# ============================================================
RDS_INSTANCE_ID=examen2-db
RDS_DB_NAME=examen2_cambiar
RDS_DB_USER=postgres
RDS_DB_PASSWORD=cambiar_password
RDS_INSTANCE_CLASS=db.t3.micro
RDS_ENGINE_VERSION=15.7
RDS_ALLOCATED_STORAGE=20

# ============================================================
# S3
# ============================================================
S3_BUCKET=xxxxxx-esi3898k-examen2

# ============================================================
# SQS
# ============================================================
SQS_QUEUE_NAME=examen2-notas

# ============================================================
# SNS
# ============================================================
SNS_TOPIC_NAME=examen2-email

# ============================================================
# NOMBRES DE LOS SECRETOS
# ============================================================
SECRET_DB_CREDENTIALS=examen2-db
SECRET_SQS_URL=examen2-url
SECRET_S3_BUCKET=examen2-bucket
SECRET_SNS_TOPIC_ARN=examen2-sns
SECRET_API_URL=examen2-api

# ============================================================
# OUTPUTS GENERADOS POR LOS SCRIPTS
# ============================================================
# Estos valores los van llenando los scripts
# El script 05 los necesita para crear los secretos
RDS_ENDPOINT=
SQS_URL=
SNS_TOPIC_ARN=
RDS_SECURITY_GROUP_ID=